@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Variables */
:root {
  --primary-blue: #190044;
  --secondary-blue: #d0bff0;
  --linear-gradient: linear-gradient(150deg, #f63679, #fb8e26);
  --linear-gradient-active: linear-gradient(150deg, #f72870, #ff8614);
}

/* 
=============
Global Styles
=============
*/

html {
  scroll-behavior: smooth;
}

h1 {
  color: var(--primary-blue);
  margin-bottom: 30px;
  font-size: 3rem;
}


/* 
==============
Global Classes
==============
*/

.container {
  background-color: var(--secondary-blue);
  padding-left: 80px;
  padding-right: 80px;
}

.content {
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.square {
  width: 15px;
  height: 15px;
  background-color: var(--primary-blue);
}

.line1 {
  height: 20px;
  width: 20px;
  background-color: var(--primary-blue);
}

.line2 {
  height: 1px;
  width: 80px;
  background-color: var(--primary-blue);
  margin-top: 8px;
}

.line3 {
  height: 1px;
  width: 50px;
  background-color: var(--primary-blue);
  margin-top: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Top Bar */
.topbar {
  height: 100px;
  background-color: var(--primary-blue);
  padding-left: 50px;
  padding-right: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar img {
  height: 100px;
  padding: 10px;
}

.topbar .btn {
  background-image: var(--linear-gradient);
  color: #fff;
  padding: 5px 15px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  animation: zoom 2s ease-in-out infinite;
}

.topbar .btn:active {
  background-image: var(--linear-gradient-active);
}

/* Welcome Section */
.welcome-left-col, .welcome-right-col {
  width: 50%;
}

.welcome-left-col h2 {
  color: var(--primary-blue);
  margin-bottom: 30px;
}

.welcome-left-col p {
  margin-top: 10px;
  margin-bottom: 10px;
} 


/* Services Section */
.services-left-col, .services-right-col {
  width: 50%;
}

.services-right-col {
  text-align: right;
}

.services-right-col .square, .services-right-col .line1, .services-right-col .line2, .services-right-col .line3 {
  margin-left: auto;
}

.services-right-col p { 
  margin-top: 10px;    
  margin-bottom: 10px;
}

/* Investigation Section */
.investigation-section {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.investigation-section .content {
  flex-direction: column;
  text-align: center;
}

.investigation-section .btn {
  background-color: var(--secondary-blue);
  color: var(--primary-blue);
  border: 3px solid var(--primary-blue);
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}

.investigation-section .btn:active {
  background-color: #190044;
  color: #fff;
}

.investigation-section img {
  max-height: 400px;
}

/* Footer Section */
.footer {
  background-color: var(--primary-blue);
  padding: 30px 120px 50px;
  display: flex;
  justify-content: space-between;
}

.footer-left-col {
  max-width: 500px;
}

.footer-left-col h1 {
  color: #fff;
  margin-bottom: -5px;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.footer-left-col .underline {
  background-color: #fff;
  height: 5px;
  width: 100px;
  margin-bottom: 30px;
}

.footer-left-col .input-box, .footer-left-col .textarea-box {
  margin-bottom: 30px;
  position: relative;

}

.input-box input {
  height: 2.3rem;
  width: 100%;
  border: 3px solid var(--secondary-blue);
  padding: 10px 10px 3px;
  outline: none;
}

.contact-form .firstline {
  display: flex;
  gap: .5rem;
}

.input-box label,
.textarea-box label {
  position: absolute;
  color: #777;
  text-transform: uppercase;
  transition: 0.3s;  
}

.input-box label {
  top: 50%;
  left: 10px;
  transform: translateY(-50%);

}
.textarea-box label {
  top: 20px;
  left: 10px;
  transform: translateY(-10px);
}

.input-box input:valid,
.input-box input:focus {
  border-color: var(--secondary-blue);
}

.input-box input:valid ~ label,
.input-box input:focus ~ label,
.textarea-box textarea:valid ~ label,
.textarea-box textarea:focus ~ label {
  background-color: var(--primary-blue);
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid var(--secondary-blue);
  border-radius: 3px;
  font-size: 10px;
  transform: translateY(-24px);
}

.footer-left-col textarea{
  min-width: 500px;
  max-width: 500px;
  min-height: 150px;
  max-height: 150px;
  padding: 10px 5px 5px;
  border: 3px solid var(--secondary-blue);
  font-size: 14px;
  outline: none;
}

.footer-left-col textarea:valid,
.footer-left-col textarea:focus {
  border-color: var(--secondary-blue);
}

.footer-left-col .btn {
  background-image: var(--linear-gradient);
  color: #fff;
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
}

.footer-left-col .btn:active {
  background-color: var(--linear-gradient-active);
}

.footer-right-col {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 1rem;
}


.footer-right-col img {
  width: 200px;
}

.footer-right-col .copyright {
  color: #fff;
}

/* Social Icons */
.social-icons {
  position: fixed;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 50px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.social-icons img {
  width: 25px;
}


@keyframes zoom {
  0%, 100% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.1);
  }
}

@media screen and (max-width:992px) {
  .container {
    background-color: var(--secondary-blue);
    padding-left: 50px;
    padding-right: 50px;
  }

  .content {
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: column;
    gap: 2rem;
  }
  
  .welcome-left-col, .welcome-right-col {
    width: 100%;
    max-width: 600px;
  }

  .welcome-left-col {
    align-self: flex-start;
  }

  .welcome-right-col {
    align-self: flex-end;
  }

  .welcome-right-col img {
    max-height: 400px;
  } 

  .services-left-col, .services-right-col {
    width: 100%;
    max-width: 600px;
  }

  .services-section .content {
    flex-direction: column-reverse;
  }

  .services-left-col {
    align-self: flex-end;
  }

  .services-left-col img{
    max-height: 400px;
  }

  .services-right-col {
    align-self: flex-end;
  }

  .footer {
    padding: 40px 60px 50px;
    flex-direction: column;
    gap: 2rem;
  }

  .footer-left-col {
    align-self: center;
  }

  .social-icons {
    position: fixed;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 50px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

@media screen and (max-width:540px) {

  h1 {
    color: var(--primary-blue);
    margin-bottom: 30px;
    font-size: 2.2rem;
  }

  .topbar {
    height: 80px;
    padding-left: 20px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .topbar img {
    height: 70px;
  }

  .topbar .btn {
    padding: 5px 10px;
    font-size: 12px;
  }

  .footer {
    gap: 3rem;
  }

  .footer-left-col {
    max-width: 200px;
  }

  .footer-left-col h1 {
    font-size: 2rem;
  }

  .contact-form .firstline {
    flex-direction: column;
    gap: 0;
  }

  .footer-left-col label,.footer-left-col input, .footer-left-col textarea {
    font-size: 12px;
  }

  .footer-left-col textarea{
    min-width: 200px;
    max-width: 200px;
  }

  .input-box input:valid ~ label,
.input-box input:focus ~ label,
.textarea-box textarea:valid ~ label,
.textarea-box textarea:focus ~ label {
  font-size: 8px;
  transform: translateY(-24px);
}

  .footer-right-col{
    align-self: center;
    justify-content: center;
  }

  .footer-right-col img{
    width: 150px;
    margin: 0 auto;
  }

  .footer-right-col .copyright {
    text-align: center;
    font-size: 12px;
  }
}
